* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
.scroll-hidden {
	overflow: hidden;
}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.headline {
	font-family: Georgia, serif;
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 0.06em;
	color: #545454;
}
.paragraph {
	font-size: 15px;
	line-height: 24px;
	color: #4c4c4c;
}
.btn {
	width: 207px;
	border-radius: 26px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	background-color: #f1cdb3;
	color: #292929;
	font-family: Georgia, serif;
	font-size: 17px;
	letter-spacing: 1px;
}
.btn a:link,
.btn a:visited {
	text-decoration: none;
	color: #292929;
	font-family: Georgia, serif;
}
.btn:hover {
	cursor: pointer;
	background-color: #fddcc4;
}
/* -------------------- START SCREEN -------------------- */
.start-screen {
	height: 908px;
	padding: 60px 0 0;
	background: url('../../assets/images/start-screen-background.png') 
	0 0/100% 100%;
}
.start-screen .header {
	display: flex;
	justify-content: space-between;
}
.start-screen .header .logo {
	cursor: pointer;
}
.start-screen .header .headline {
	font-size: 32px;
	line-height: 35px;
	letter-spacing: 0.06em;
	color: #f1cdb3;
}
.start-screen .header .paragraph {
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: #FFF;
	margin-top: 10px;
}
.start-screen .header .nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 443px;
	font-size: 15px;
	line-height: 160%;
}
.start-screen .header .nav a:link,
.start-screen .header .nav a:visited,
.start-screen .burger-menu .burger-menu__nav .burger-menu__link a:link,
.start-screen .burger-menu .burger-menu__nav .burger-menu__link a:visited {
	color: #cdcdcd;
	text-decoration: none;
	padding-bottom: 3px;
}
.start-screen .header .nav a:hover,
.start-screen .header .nav a.active,
.start-screen .burger-menu .burger-menu__nav .burger-menu__link a:hover,
.start-screen .burger-menu .burger-menu__nav .burger-menu__link a.active {
	border-bottom: 3px solid #F1CDB3;
	color: #FFF;
}
.start-screen .header .nav a.disabled,
.start-screen .burger-menu .burger-menu__nav .burger-menu__link a.disabled {
	pointer-events: none;
	cursor: default;
}
.start-screen .wrapper-item {
	margin-top: 61px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.start-screen .content-box {
	margin-top: 163px;
	width: 460px;
}
.start-screen .content-box .headline {
	color: #fff;
	font-size: 44px;
	line-height: 57px;
	letter-spacing: 0.03em;
}
.start-screen .content-box .paragraph {
	color: #cdcdcd;
	text-align: justify;
	font-size: 15px;
	line-height: 24px;
	margin-top: 42px;
}
.start-screen .content-box .btn {
	margin-top: 42px;
}


.start-screen .logo {
	z-index: 100;
}
.start-screen .burger-menu__button {
	display: none;
	z-index: 100;
}
.start-screen .burger-menu {
	position: fixed;
	right: -100%;
}

.start-screen .overlay {
	display: none;
	background-color: rgba(41, 41, 41, 0.6);
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}
.start-screen .overlay_active {
	display: block;
}

@media (max-width:1279px) and (min-width:768px) {
	.start-screen {
		height: 1165px;
		padding: 30px 30px 0;
	}
	.start-screen .header {
		width: 708px;
		margin: 0 auto;
	}
	.start-screen .wrapper-item {
		flex-direction: column;
	}
	.start-screen .content-box {
		margin: 0 auto;
	}
	.start-screen .content-box .btn {
		margin: 42px auto 0;
	}
	.start-screen .wrapper-item .img {
		height: 593px;
		width: 569px;
		margin: 100px 0 0 22vw;
	}
}

@media (max-width:767px) and (min-width:320px) {
	.start-screen {
		padding: 30px 10px 0;
		height: 823px;
	}
	.start-screen .header {
		position: absolute;
		top: 30px;
		right: 57px;
		width: 257px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.start-screen .wrapper-item {
		flex-direction: column;
		margin: 120px auto 0;
		width: 300px;
		height: 673px;
	}
	.start-screen .content-box {
		margin: 0 auto;
		width: 300px;
		height: 296px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.start-screen .content-box .headline {
		font-size: 25px;
		line-height: 32px;
		text-align: center;
	}
	.start-screen .content-box .paragraph {
		font-size: 15px;
		line-height: 24px;
		text-align: center;
		margin: 0;
	}
	.start-screen .content-box .btn {
		margin: 0 auto;
	}
	.start-screen .wrapper-item .img {
		height: 271.77px;
		width: 260px;
		margin-left: 12.5vw;
	}
	.start-screen .header .nav {
		display: none;
	}


	.start-screen .burger-menu__button {
		width: 30px;
		height: 22px;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: 0.5s;
		z-index: 100;
	}
	.start-screen .rotate {
		transform: rotate(-90deg);
	}
	.start-screen .burger-menu__button .line {
		width: 100%;
		height: 2px;
		background-color: #f1cdb3;
	}
	.start-screen .burger-menu {
		display: flex;
		width: 320px;
		height: 823px;
		background-color: #292929;
		z-index: 20;
		transition: 0.5s;
	}
	.start-screen .burger-menu .burger-menu__nav {
		margin: auto;
		/* width: 243px; */
		height: 327px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.start-screen .burger-menu_active {
		top: 0;
		right: 0;
	}
	.start-screen .burger-menu .burger-menu__nav .burger-menu__link a:link,
	.start-screen .burger-menu .burger-menu__nav .burger-menu__link a:visited {
		font-size: 32px;
		line-height: 51px;
		padding-bottom: 7px;
	}
}
/* --------------------- ABOUT --------------------- */
.about {
	height: 588px;
	background: #fff;
	padding-top: 80px;
}
.about .content-box {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 850px;
}
.about .content-box .img {
	width: 300px;
	height: 408px;
}
.about .content-box .text {
	width: 430px;
}
.about .text .paragraph {
	margin-top: 25px;
}

@media (max-width:1279px) and (min-width:768px) {
	.about {
		height: 1048px;
	}
	.about .content-box {
		width: 437px;
		height: 868px;
		flex-direction: column-reverse;
	}
}

@media (max-width:767px) and (min-width:320px) {
	.about {
		height: 974px;
		padding: 42px 10px;
	}
	.about .content-box {
		width: 300px;
		height: 890px;
		flex-direction: column-reverse;
	}
	.about .content-box .img {
		width: 260px;
		height: auto;
	}
	.about .content-box .text {
		width: 270px;
	}
	.about .text .headline {
		font-size: 25px;
		line-height: 32px;
		text-align: center;
	}
	.about .text .paragraph {
		margin-top: 25px;
		font-size: 15px;
		line-height: 24px;
		text-align: justify;
	}
	.about .text .paragraph:last-child {
		margin-top: 22px;
	}
}
/* --------------------- PETS --------------------- */
.pets {
	padding: 80px 0 100px;
	background: #f6f6f6;
	display: flex;
}
.pets .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pets .headline {
	text-align: center;
}
.pets .slider {
	margin: 45px 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.pets .slider .btn_arrow,
.pets .btn-panel .btn_arrow {
	width: 52px;
	background: #f6f6f6;
	border: 2px solid #f1cdb3;
	color: #292929;
	display: flex;
	align-items: center;
}
.pets .slider .btn_arrow img,
.pets .btn-panel .btn_arrow img {
	margin: 0 auto;
}
.pets .slider .btn_arrow:last-child,
.pets .btn-panel .btn_arrow:last-child {
	transform: rotate(-180deg);
}
.pets .slider .btn:hover,
.pets .btn-panel .btn:hover {
	background: #f1cdb3;
}
.pets .btn-panel {
	margin: 20px auto 0;
	width: 270px;
	display: none;
	justify-content: space-around;
}
.pets .slider-container {
	width: 990px;
	display: flex;
	justify-content: space-between;
}
.pets .slider-card {
	width: 270px;
	height: 435px;
	padding-bottom: 30px;
	background: #fafafa;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 9px;
}
.pets .slider-card:hover,
.pets .slider-card:hover .btn {
	background: #fff;
	box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pets .slider-card img {
	height: 270px;
}
.pets .slider-card .headline {
	font-size: 20px;
	line-height: 23px;
}
.pets .slider-card .btn {
	width: 187px;
	background: #fafafa;
	border: 2px solid #f1cdb3;
	line-height: 48px;
}
.pets .slider-card .btn:hover {
	background: #f1cdb3;
}
.pets .btn_primary {
	margin: 0 auto;
	width: 261px;
}

@media (max-width:1279px) and (min-width:768px) {
	.pets {
		padding: 60px 30px 70px;
	}
	.pets .slider {
		width: 708px;
		justify-content: space-between;
	}
	.pets .slider-container {
		width: 580px;
	}
	.pets .slider-card:last-child {
		display: none;
	}
}

@media (max-width:767px) and (min-width:320px) {
	.pets {
		height: 791px;
		padding: 42px 10px;
	}
	.pets .headline {
		font-size: 25px;
		line-height: 32px;
		margin: 0;
	}
	.pets .slider {
		margin: 42px auto 0;
		flex-direction: column;
		align-items: center;
	}
	.pets .slider-container {
		width: auto;
	}
	.pets .slider .btn_arrow {
		display: none;
	}
	.pets .slider-card {
		display: none;
	}
	.pets .slider-card:nth-child(1){
		display: flex;
	}
	.pets .btn-panel {
		display: flex;
	}
	.pets .btn_primary {
		margin: 42px auto 0;
	}
}
/* --------------------- HELP --------------------- */
.help {
	height: 611px;
	background: #fff;
	padding-top: 80px;
}
.help .headline {
	text-align: center;
}
.help .content-box {
	margin-top: 60px;
	height: 281px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: space-between;
}
.help .content-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 60px;
	height: 113px;
	text-align: center;
}
.help .content-item img {
	width: 60px;
	height: 60px;
}
.help .content-box .headline {
	font-size: 20px;
	line-height: 23px;
}

@media (max-width:1279px) and (min-width:768px) {
	.help {
		height: 779px;
		padding: 80px 69px 0;
	}
	.help .content-box {
		margin: 60px auto 0;
		height: 449px;
		width: 630px;
		justify-content: space-between;
	}
	.help .content-item {
		width: 170px;
		margin: 0;
	}
}

@media (max-width:767px) and (min-width:320px) {
	.help {
		height: 745px;
		padding: 42px 15px;
	}
	.help .content-box {
		margin: 42px auto 0;
		height: 555px;
		width: 290px;
		justify-content: space-between;
	}

	.help .headline {
		font-size: 25px;
		line-height: 32px;
	}
	.help .content-item {
		width: 130px;
		height: 87px;
		margin: 0;
	}
	.help .content-item img {
		width: 50px;
		height: 50px;
	}
	.help .content-box .headline {
		font-size: 15px;
		line-height: 17px;
	}
}
/* --------------------- DONATION --------------------- */
.donation {
	height: 464px;
	padding-top: 80px;
	background: #f6f6f6;
}
.donation .content-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.donation .content-box .img {
	width: 505px;
	height: 261px;
}
.donation .content-box .text {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 380px;
	height: 282px;
}
.donation .text .paragraph {
	line-height: 17px;
	font-family: Georgia, serif;
}
.donation .text .paragraph_low {
	font-style: italic;
	font-size: 12px;
	line-height: 18px;
	color: #b2b2b2;
}
.donation .credit-card a {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 349px;
	height: 43px;
	background: #f1cdb3;
	border-radius: 9px;
	color: #545454;
	text-decoration: none;
}
.donation .credit-card a:hover {
	background: #fddcc4;
}
.donation .credit-card .headline {
	font-family: Georgia, serif;
	font-size: 20px;
	line-height: 23px;
	color: #545454;
}
.donation .credit-card img {
	width: 30px;
	height: 23px;
	vertical-align: middle;
}

@media (max-width:1279px) and (min-width:768px) {
	.donation {
		height: 783px;
	}
	.donation .content-box {
		flex-direction: column-reverse;
	}	
	.donation .content-box .img {
		margin-top: 60px;
	}
}

@media (max-width:767px) and (min-width:320px) {
	.donation {
		height: 542.2px;
		padding: 42px 10px;
	}
	.donation .content-box {
		flex-direction: column-reverse;
	}
	
	.donation .content-box .text {
		width: 300px;
		height: 281px;
		text-align: center;
	}
	.donation .text .headline {
		font-size: 25px;
		line-height: 32px;
	}
	.donation .text .paragraph {
		font-size: 15px;
		line-height: 24px;
	}
	.donation .text .paragraph_low {
		text-align: justify;
	}
	.donation .credit-card a {
		width: 281px;
		height: 43px;
		margin: 0 auto;
	}
	.donation .credit-card .headline {
		font-size: 15px;
		line-height: 17px;
	}
	
	.donation .content-box .img {
		margin-top: 42px;
		width: 260px;
		height: 135.2px;
	}
}
/* --------------------- FOOTER --------------------- */
.footer {
	padding: 40px 40px 0 40px;
	background: url('../../assets/images/footer-gradient-background.png')
	0 0/100% 100%;
}
.footer .wrapper {
	display: grid;
	grid-template-columns: auto auto 300px;
	justify-content: space-between;
}
.footer .wrapper-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 16px 0 60px;
	height: 234px;
}
.footer .wrapper-item:last-child {
	margin-top: 0;
}
.footer .wrapper-item .headline {
	color: #fff;
}
.footer .wrapper-item .paragraph a:link,
.footer .wrapper-item .paragraph a:visited {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
}
.footer .wrapper-item .paragraph img {
	margin-right: 20px;
}
.footer .wrapper-item .paragraph p {
	color: #f1cdb3;
	font-family: Georgia, serif;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.06em;
}
.footer .wrapper-item:last-child {
	width: 300px;
	height: 315px;
	margin-bottom: 0;
}

@media (max-width:1279px) and (min-width:768px) {
	.footer {
		padding: 30px 30px 0;
	}
	.footer .wrapper {
		width: 708px;
		grid-template-columns: auto auto;
		grid-template-rows: 234px 315px;
		grid-template-areas: 
			'contacts location'
			'puppy puppy';
		grid-gap: 65px 60px;
	}
	.footer .wrapper-item {
		margin: 0 auto;
	}
	.footer .wrapper-item:last-child {
		grid-area: puppy;
	}
}

@media (max-width:767px) and (min-width:320px) {
	.footer {
		padding: 30px 10px 0px;
	}
	.footer .wrapper {
		width: 300px;
		grid-template-columns: auto;
		grid-template-rows: 234px 234px 315px;
		grid-gap: 40px 50px;
	}
	.footer .wrapper-item {
		margin: 0 auto;
	}
	.footer .wrapper-item .headline {
		text-align: center;
	}
}